In [1]:
from pandas_datareader import data as pdr
import datetime

In [2]:
import pandas as pd
import yfinance as yfin
yfin.pdr_override()

In [3]:
NIFTY_50 = [
 'DIVISLAB',
 'CIPLA',
 'APOLLOHOSP',
 'SUNPHARMA',
 'DRREDDY',
 'HCLTECH',
 'TECHM',
 'NESTLEIND',
 'TCS',
 'INFY',
 'SBILIFE',
 'WIPRO',
 'BAJAJ-AUTO',
 'HINDUNILVR',
 'UPL',
 'HINDALCO',
 'JSWSTEEL',
 'ASIANPAINT',
 'POWERGRID',
 'HEROMOTOCO',
 'TATACONSUM',
 'TITAN',
 'M&M',
 'LT',
 'HDFCBANK',
 'HDFCLIFE',
 'COALINDIA',
 'NTPC',
 'TATASTEEL',
 'ITC',
 'EICHERMOT',
 'HDFC',
 'GRASIM',
 'RELIANCE',
 'ONGC',
 'SBIN',
 'BHARTIARTL',
 'KOTAKBANK',
 'BAJFINANCE',
 'ICICIBANK',
 'AXISBANK',
 'TATAMOTORS',
 'BPCL',
 'BRITANNIA',
 'MARUTI',
 'BAJAJFINSV',
 'INDUSINDBK',
 'ULTRACEMCO',
 'ADANIPORTS',
 'ADANIENT']

In [4]:
stocks = NIFTY_50

In [5]:
def get_stock(ticker, years = 3):
    start = (datetime.datetime.today() - datetime.timedelta(days=years*365)).date()
    end = datetime.datetime.today().date()
    data = pdr.get_data_yahoo(ticker+".NS", start=start, end=end)
    data[f'{ticker}'] = data["Close"]
    data = data[[f'{ticker}']] 
    return data

In [6]:
from functools import reduce

def combine_stocks(tickers):
    data_frames = []
    for i in tickers:
        data_frames.append(get_stock(i))
        
    df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date'], how='outer'), data_frames)
    return df_merged

In [61]:
portfolio = combine_stocks(stocks)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [60]:
portfolio

,DIVISLAB,CIPLA,APOLLOHOSP,SUNPHARMA,DRREDDY,HCLTECH,TECHM,NESTLEIND,TCS,INFY,...,AXISBANK_RSI,TATAMOTORS_RSI,BPCL_RSI,BRITANNIA_RSI,MARUTI_RSI,BAJAJFINSV_RSI,INDUSINDBK_RSI,ULTRACEMCO_RSI,ADANIPORTS_RSI,ADANIENT_RSI
Date,,,,,,,,,,,,,,,,,,,,,
2020-02-17,2154.850098,431.899994,1715.050049,408.399994,3295.550049,613.450012,833.250000,16588.449219,2203.250000,789.450012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-18,2175.250000,436.000000,1774.900024,408.649994,3251.350098,607.049988,838.799988,16403.849609,2215.750000,797.650024,...,0.000000,0.000000,100.000000,0.000000,0.000000,100.000000,0.000000,100.000000,100.000000,0.000000
2020-02-19,2185.850098,447.500000,1780.500000,403.549988,3278.149902,605.750000,840.900024,16785.050781,2196.350098,800.450012,...,10.701327,0.000000,100.000000,6.442374,0.000000,100.000000,0.344681,99.232220,100.000000,10.294115
2020-02-20,2169.350098,435.750000,1800.699951,404.950012,3255.300049,608.049988,829.599976,16539.500000,2156.800049,797.000000,...,15.003398,0.477288,96.782594,5.854911,0.064913,81.841975,9.611429,86.809627,99.112215,19.423146
2020-02-24,2160.449951,430.149994,1797.449951,397.850006,3176.300049,595.150024,820.099976,16337.250000,2115.350098,795.849976,...,11.532953,0.438013,90.897938,5.324073,0.054059,41.545316,9.332574,78.977752,83.799932,15.309688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-09,2823.149902,1021.500000,4389.299805,1006.799988,4487.500000,1146.349976,1016.000000,19000.300781,3540.850098,1617.000000,...,35.737735,57.428977,45.559447,68.178279,56.321316,52.722804,50.990362,54.816827,37.028731,30.452799
2023-02-10,2811.250000,1033.199951,4416.250000,1006.599976,4499.600098,1115.650024,1017.349976,19023.849609,3537.550049,1608.550049,...,35.588030,62.083000,45.900676,66.365237,56.768829,52.998372,50.468103,55.868664,37.329356,29.452252
2023-02-13,2773.199951,1021.950012,4358.649902,1015.250000,4524.700195,1113.000000,1002.500000,19026.800781,3482.399902,1567.449951,...,32.900069,58.452996,46.974490,62.149430,56.651848,50.224064,49.657084,54.476955,34.113968,27.835155
2023-02-14,2791.649902,1028.349976,4268.850098,1006.750000,4538.399902,1125.449951,1012.049988,19082.900391,3500.100098,1593.250000,...,39.889214,58.072093,43.132809,63.013518,54.426256,52.272562,49.545727,52.377166,36.339410,28.877563
2023-02-15,2822.550049,1030.800049,4487.899902,995.400024,4519.850098,1132.900024,1071.400024,19260.949219,3520.649902,1597.050049,...,38.969913,60.088698,43.132809,61.557619,58.023707,56.528514,47.869444,52.993467,37.131790,29.878186

In [64]:
def calculateRSI(portfolio,window=14,symbol = False):
    if symbol:
        portfolio[symbol+'_RSI'] = RSI(portfolio[symbol],window)
    else:
        for symbol in portfolio.columns:
            portfolio[symbol+'_RSI'] = RSI(portfolio[symbol],window)
    return portfolio

In [65]:
def RSI(close,window=14):
    delta = close.diff()
    up = delta.clip(lower=0)
    down = -1*delta.clip(upper=0)
    ema_up = up.ewm(com=window-1, adjust=False).mean()
    ema_down = down.ewm(com=window-1, adjust=False).mean()
    rs = ema_up/ema_down
    return 100 - (100/(1 + rs))

In [62]:
op = calculateRSI(portfolio,14,'SBIN')

In [63]:
op.columns

Index(['DIVISLAB', 'CIPLA', 'APOLLOHOSP', 'SUNPHARMA', 'DRREDDY', 'HCLTECH',
       'TECHM', 'NESTLEIND', 'TCS', 'INFY', 'SBILIFE', 'WIPRO', 'BAJAJ-AUTO',
       'HINDUNILVR', 'UPL', 'HINDALCO', 'JSWSTEEL', 'ASIANPAINT', 'POWERGRID',
       'HEROMOTOCO', 'TATACONSUM', 'TITAN', 'M&M', 'LT', 'HDFCBANK',
       'HDFCLIFE', 'COALINDIA', 'NTPC', 'TATASTEEL', 'ITC', 'EICHERMOT',
       'HDFC', 'GRASIM', 'RELIANCE', 'ONGC', 'SBIN', 'BHARTIARTL', 'KOTAKBANK',
       'BAJFINANCE', 'ICICIBANK', 'AXISBANK', 'TATAMOTORS', 'BPCL',
       'BRITANNIA', 'MARUTI', 'BAJAJFINSV', 'INDUSINDBK', 'ULTRACEMCO',
       'ADANIPORTS', 'ADANIENT', 'SBIN_RSI'],
      dtype='object')

In [ ]:
pd.DataFrame()